main{
  min-height: 80vh;
}

h1{
  font-size: 1.8rem;
  padding:1rem 0;
}

h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
}

h3{
    padding:1rem 0;
}

.rating span{
  margin: 0.1rem;
}

#mycard {
  height: fit-content;
  width: 275px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#mycard:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.product-image {
  height: 200px; /* Set your desired fixed height */
  object-fit: cover; /* This property ensures the image maintains its aspect ratio */
}